@model BusTicketsMonolitic.Web.Data.Models.AsientoModels.AsientoUpdateModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar asientos</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroPiso" class="control-label"></label>
                <input asp-for="NumeroPiso" class="form-control" />
                <span asp-validation-for="NumeroPiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroAsiento" class="control-label"></label>
                <input asp-for="NumeroAsiento" class="form-control" />
                <span asp-validation-for="NumeroAsiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAsiento" class="control-label"></label>
                <input type="hidden" asp-for="IdAsiento" class="form-control" />
                <span asp-validation-for="IdAsiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBus" class="control-label"></label>
                <input type="hidden" asp-for="IdBus" class="form-control" />
                <span asp-validation-for="IdBus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
